body{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
.cabecera{
    background-color: rgb(75, 108, 255);
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
baltasar{
    transform: matrix3d(3em);
    -o-transition-property: calc();
}